body{
    background-color: white;
}

.content{
    font-family: 'Poppins', sans-serif;
    display: flex;

}
.content-main {
    display: flex;
    align-items: center;
}

.logo {
    flex: 0 0 auto;
    margin-right: 20px; /* Adjust margin as needed */
}
.logo img{
    height: 500px;
   
}
.info {
    flex: 1 1 auto;
}

/* Additional styling for consistency */
.logo img {
 width: 73%;
 height: 73%;
}
.info h3{
    font-size: 25px;
    margin-top: .4rem;

}
.info h3{
    color: rgb(99, 195, 239);
    font-size: 3rem;
}
.info h3 .top1{
    color:lawngreen;
}
.top {
    margin-left: 30rem;
    border: .2rem solid red;
    color: white;
    background-color: red;
    font-size: xx-large;
}

.info h4{
    font-size:  small;
}

.info h3, .info h4 {
    margin-top: 0;
}

  .content-info, .content {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
  }
  .content img {
    max-width: 100%;
    height: auto;
  }
  .content h6, .content-info h5, .content-info p {
    margin: 10px 0;
  }
  .btn-box {
    text-align: center;
    margin: 20px;
  }
  footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    margin-top: 20px;
  }